*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.border{
    border: 2px solid white;
}

.container{
    height: 600px;
    width: 400px;

    background-color: black;

    /* position: relative; */
    border-radius: 15px;
}

.box{
    /* border: 2px solid white; */
    height: 300px;
    width: 280px;
    margin-top: 200px;
    margin-left: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    border: 2px solid rgb(82, 84, 84);;
    height: 50px;
    width: 60px;
    color: white;
    border-radius: 8px;
    background-color: black;
    /* background-color: white; */
}

p{
    color: white;
    font-size: 30px;
}

.box2{
    /* border: 2px solid white; */
    height: 70px;
    width: 280px;
    /* margin-top: 2px; */
    margin-left: 60px;
    display: flex;
    /* color: white; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.box3{
    border: 2px solid rgb(84, 82, 82);
    height: 50px;
    width: 60px;
    border-radius: 8px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.sanjay{
    display: flex;
    flex-grow: 0.6;
    
}

#input{
    /* border: 2px solid white; */
    padding: 28px;
    font-size: 20px;
    position: absolute;
    /* width: 260px; */
    margin-top: 70px;
    margin-left: 70px;
    text-align: right;
    color: white;
    /* flex-wrap: wrap; */
    background-color: rgb(84, 82, 82);
    border-radius: 8px;
    outline: none;
    border: none;

}

.color{
    background-color: gray;
}

.color1{
    background-color: orange;
}

.btn:hover{
    background-color: cadetblue;
}

.btn2:hover{
    background-color: rgb(4, 11, 153);
}

.btn3:hover{
    background-color: rgb(15, 177, 104);
}
